### Data Preprocessing

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('blood.csv')

In [5]:
df.head()

   Recency  Frequency  Monetary  Time  Class
0        2         50     12500    99      1
1        0         13      3250    28      1
2        1         17      4000    36      1
3        2         20      5000    45      1
4        1         24      6000    77      0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Recency    748 non-null    int64
 1   Frequency  748 non-null    int64
 2   Monetary   748 non-null    int64
 3   Time       748 non-null    int64
 4   Class      748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [9]:
df.shape

(748, 5)

In [11]:
df.isnull().sum()

Recency      0
Frequency    0
Monetary     0
Time         0
Class        0
dtype: int64

In [13]:
df = df.fillna(method='ffill')

le = LabelEncoder()
for col in df.select_dtypes(include='object'):
    df[col] = le.fit_transform(df[col])

C:\Users\Adnan\AppData\Local\Temp\ipykernel_19400\200918670.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')

### Model Building

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [19]:
scaler = StandardScaler()
scaled = scaler.fit_transform(df)

In [21]:
kmeans = KMeans(n_clusters=4, random_state=42)
df['Cluster'] = kmeans.fit_predict(scaled)

print(df['Cluster'].value_counts())

Cluster
1    261
3    251
2    148
0     88
Name: count, dtype: int64

In [23]:
recommendations = {
    0: "Increase physical activity and reduce sugar intake.",
    1: "Maintain current lifestyle, keep up regular checkups.",
    2: "Reduce salt and fat intake, monitor blood pressure.",
    3: "Consult specialist, high risk for chronic conditions."
}

In [25]:
# Map recommendations
df['Recommendation'] = df['Cluster'].map(recommendations)

# Show personalized output
print(df[['Cluster', 'Recommendation']].head())

   Cluster                                     Recommendation
0        0  Increase physical activity and reduce sugar in...
1        2  Reduce salt and fat intake, monitor blood pres...
2        0  Increase physical activity and reduce sugar in...
3        0  Increase physical activity and reduce sugar in...
4        0  Increase physical activity and reduce sugar in...